body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #17191C;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font: grayscale;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.main-page-wraper {
    background: url("./img/hero.png") center top no-repeat, url("./img/bottom-pic.png") center bottom 307px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1150px;
}
.header {
    height: 120px;
    position: relative;
    margin-bottom: 150px;
}

.logo {
    display: block;
    position: absolute;
    top: 57px;
    left: 0px;
}

.menu {
    display: block;
    position: absolute;
    top: 74px;
    left: 443px;
}

.contacts {
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 48px;
    right: 0px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 2.6;
}

.contacts__dropdown-title {
    position: absolute;
    display: inline-block;
    top: 44px;
    right: 7px;
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.hero {
    margin-bottom: 233px;
}

.hero__text-section {
    width: 880px;
    margin: 0 auto;
    
}

.hero__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.36;
    margin-top: -4px;
    margin-bottom: 18px;
    text-align: center;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero__button-wrap {
    margin: 0 auto;
        
}

.hero__content {
    text-align: center;
}

.button {
    background: #FF5500;
    border-radius: 40px;
    padding: 18px 54px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
   
}

.button:hover {
    background: #FF3D00;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, 0.904);
}

.services {
    margin-bottom: 186px;
}

.services__item {
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 23px;
    width: 362px;
    border: 4px solid white;
    padding: 20px 20px 40px 20px;
}

.services__item:hover {
    border: 4px solid grey ; 
}

.services__item:last-child {
    margin-right: 0px;
}

.services__header {
    min-height: 40px;
    padding-top: 15px;
    padding-left: 7px;
}

.services-pic {
    margin-bottom: 22px;
}

.services__title {
    display: block;
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 14px;
}

.services__features {
    font-size: 16px;
    color: black;
    margin-bottom: 25px;
}

.services__feature {
    display: inline-block;
    vertical-align: top;
    width: 123px;
    margin-right: 58px;
}

.services__feature:last-child {
    margin-right: 0;
}

.services__special {
    font-weight: bold;
}

.services__text {
    font-size: 14px;  
    line-height: 1.6;  
    color: black;
    margin-bottom: 28px;
}

.services-button {
    color: #FF3D00;
    background: white;
    border: 2px solid #FF3D00 ;
}

.services-button:hover {
    color: #fff;
}

.news-actions {
    margin-bottom: 144px;
}

.news-actons__title {
    font-size: 36px;
    font-weight: 800;
    margin-left: 5px;
    margin-bottom: 49px;
}

.news-actions__list {
    padding-left: 5px;
    margin-bottom: 46px;
}

.news-actions__item {
    display: inline-block;
    vertical-align: top;
    width: 557px;
    position: relative;
    margin-right: 19px;
}

.news-actions__item:last-child {
    margin-right: 0;
}

.news-actions__text-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;/*Сделал отталкивание от топа, тк на второй картинках  основной текст не совпадает по высоте */
    padding: 0px 35px 0px 30px ;
}

.news-actions__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-actions__date {
    font-size: 14px;
    display: block;
    margin-top: 253px;
}

.news-actions__title {
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.news-actions__text {
    padding-top: 5px;
}

.news-actions__text--wedding {
    padding-top: 12px;
}

.paginator {
    text-align: center;
}

.paginator__display,.paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__list {
    margin-top: 6px;
    padding-left: 0;
}

.paginator__display {
    margin-left: 17px;
    margin-right: 20px;
}

.paginator__item {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}

.paginator__item--active {
    background: #FF5500;
    border-radius: 50%;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.container__about-us--decor:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("img/about-us.png") center center / cover no-repeat;
}

.about-us {
    margin-bottom: 50px;
}

.about-us__desc {
    display: inline-block;
    vertical-align: top;
    background: white;
    min-height: 450px;
    padding: 70px 200px 64px 80px;
    color: black;
    width: 785px;
    border-radius: 5px;
    margin-left: -136px;
    margin-top: 98px;
}

.about-us__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 40px;
}

.about-us__desc-text {
    margin-bottom: 45px;
    line-height: 1.63;
}

.about-us__desc-text p {
    margin-bottom: 20px;
}

.about-us__desc-text p:last-child {
    margin-bottom: 0px;
}

.about-us__button {
    color: #fff;
    width: 168px;
    text-align: center;
    padding: 18px 42px;
}

.main-footer {
    position: relative;
}

.footer-container {
    display: block;
    height: 85px;
    position: relative;
}

.footer-container__logo {
    top: 47px;
    left: 5px;
}

.footer-container--menu {
    display: inline-block;
    top: 62px;
    left: 332px;
}

.social-network {
    display: inline-block;
    position: absolute;
    top: 57px;
    right: 270px;
}

.social-network__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;

}

.social-network__item:last-child {
    margin-right: 0;
}

.social-network__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social-network__item--telegram {
    background-image: url(./img/telegram-light.png);
}

.social-network__item--telegram:hover {
    background-image: url(./img/telegram.png);
}

.social-network__item--vk {
    background-image: url(./img/vk-light.png);
}

.social-network__item--vk:hover {
    background-image: url(./img/vk.png);
}

.social-network__item--fb {
    background-image: url(./img/f-light.png);
}

.social-network__item--fb:hover {
    background-image: url(./img/f.png);
}

.social-network__item--insta {
    background-image: url(./img/insta-light.png);
}

.social-network__item--insta:hover {
    background-image: url(./img/insta.png);
}

.footer-container--phone {
    top: 52px;
    right: 3px;
}

.contacts__text {
    position: absolute;
    display: block;
    top: -1px;
    right: 2px;
    font-size: 11px;
    text-align: right;
}

.footer-container__content {
    border-top: 1px solid #fff 0,1;
}
