.inner-section {
  background: #fff;
  color: #1A1B1E;
}

.inner-section--bg--grey {
  background: #F4F5F5;
  padding: 87px 0 72px;
}

.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 68px;
}