.button {
  background: #FF5500;
  border-radius: 40px;
  padding: 18px 54px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background 3s;
}

.button:hover {
  background: #FF3D00;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, 0.904);
  transition: background 3s, box-shadow 3s;

}

.button--size-m {
  padding: 18px 42px;
}