.contacts {
  font-style: normal;
  text-align: right;
  /*position: absolute;
  top: 48px;
  right: 0px;*/
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1.0;
}



