.contacts {
  font-style: normal;
  text-align: right;
  /*position: absolute;
  top: 48px;
  right: 0px;*/
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1.0;
}

.contacts__dropdown-title {
  /*position: absolute;
  top: 44px;
  right: 7px;*/
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
  margin-right: 4px;
}

