.header {
  padding-top: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin: 0;
}

.header__col {
  display: flex;
  align-items:center;
}

.header__col--align-right {
  justify-content: flex-end;
  padding-top: 10px;
}

.header__logo {
  margin-right: 239px;
  margin-bottom: 5px;
}

.header__menu {
  padding-top: 2px;
}