.social-network {
  margin-right: 69px;
} 

.social-network__list {
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-network__item {
  margin-right: 11px;
}

.social-network__item:last-child {
  margin-right: 0;
}

.social-network__item {
  background: url('../../img/css_sprites.png') center center no-repeat;
}

.social-network__item--telegram {
  background-position: -122px -66px;
}

.social-network__item--telegram:hover {
  background-position: -10px -122px;
}

.social-network__item--vk {
  background-position: -66px -66px;
}

.social-network__item--vk:hover {
  background-position: -66px -122px;
}

.social-network__item--fb {
  background-position: -10px -10px;
}

.social-network__item--fb:hover {
  background-position: -122px -10px; 
}

.social-network__item--insta {
  background-position: -66px -10px;
}

.social-network__item--insta:hover {
  background-position: -10px -66px;
}

.social-network__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}
