.social-network {
  margin-right: 69px;
} 

.social-network__list {
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-network__item {
  margin-right: 11px;
}

.social-network__item:last-child {
  margin-right: 0;
}

.social-network__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social-network__item--telegram {
  background-image: url(../../img/telegram-light.png);
}

.social-network__item--telegram:hover {
  background-image: url(../../img/telegram.png);
}

.social-network__item--vk {
  background-image: url(../../img/vk-light.png);
}

.social-network__item--vk:hover {
  background-image: url(../../img/vk.png);
}

.social-network__item--fb {
  background-image: url(../../img/f-light.png);
}

.social-network__item--fb:hover {
  background-image: url(../../img/f.png);
}

.social-network__item--insta {
  background-image: url(../../img/insta-light.png);
}

.social-network__item--insta:hover {
  background-image: url(../../img/insta.png);
}
