

.button--color--orange {
  /*background: #FF5500;*/
  color: #fff;
  margin-right: 0;
  transition: background .3s;
}

/*.button--color--orange:hover {
  background: #FF3D00;
}*/

.button--color--grey {
  background: #8E8E8E;
  color: #fff;
  padding: 19px 43px;
}

.button--color--grey:hover {
  background: #2B2B2B;
}